Repository aiexkwan/online-stock-control-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-check, prettier-format

.pre-commit-config.yaml:

# Pre-commit hooks 配置
# 這些 hooks 將在每次 git commit 之前自動運行

repos:
  # 本地 hooks
  - repo: local
    hooks:
      # TypeScript 類型檢查 (提示模式 - 不阻塞提交)
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'npx tsc --noEmit || echo "⚠️ TypeScript errors found. Please fix when possible."'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      # ESLint 檢查（只檢查暫存的文件）
      - id: eslint-check
        name: ESLint Check
        entry: npx eslint --fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]

      # Prettier 格式化
      - id: prettier-format
        name: Prettier Format
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        stages: [pre-commit]

      # 快速技術債務檢查
      - id: tech-debt-check
        name: Tech Debt Check
        entry: npm run tech-debt:collect:fast
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      # 檢查大文件 (排除 node_modules 和特定文件)
      - id: check-large-files
        name: Check Large Files
        entry: bash -c 'find . -name "*.js" -o -name "*.ts" -o -name "*.tsx" -o -name "*.jsx" | grep -v node_modules | grep -v ".next" | grep -v "dist/" | grep -v "build/" | grep -v "storybook-static/" | grep -v "supabase-generated.ts" | grep -v "actions.ts" | grep -v "widgets.service.ts" | grep -v "analysis.service.ts" | xargs wc -l | awk "\$1 > 1000 {print \$2 \" has \" \$1 \" lines (>1000)\"}" | grep . && echo "❌ Found files with >1000 lines. Consider refactoring." && exit 1 || true'
        language: system
        pass_filenames: false
        stages: [pre-commit]

  # 通用 hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # 檢查文件大小 (增加到 5MB)
      - id: check-added-large-files
        args: ['--maxkb=5000']

      # 檢查合併衝突標記
      - id: check-merge-conflict

      # 檢查 YAML 語法
      - id: check-yaml
        args: ['--unsafe']

      # 檢查 JSON 語法
      - id: check-json

      # 移除尾隨空白
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # 確保文件以換行符結尾
      - id: end-of-file-fixer

      # 檢查私鑰
      - id: detect-private-key

      # 檢查 AWS 憑證
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']

# 配置選項
default_stages: [pre-commit]
fail_fast: false  # 不要在第一個失敗時停止
minimum_pre_commit_version: '2.18.0'

# 排除的文件和目錄
exclude: |
  (?x)^(
    node_modules/.*|
    backend/newpennine-api/node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    storybook-static/.*|
    coverage/.*|
    \.git/.*|
    .*\.min\.(js|css)$|
    package-lock\.json$|
    .*\.lock$|
    any-usages\.txt$|
    docs/Others/Anytype\.md$|
    .*\.bak$|
    lib/types/supabase-generated\.ts$|
    backend/newpennine-api/src/widgets/widgets\.service\.ts$|
    backend/newpennine-api/src/analysis/analysis\.service\.ts$|
    app/actions/reportActions\.ts$|
    app/void-pallet/actions\.ts$
  )$

fix: 進一步優化 pre-commit hooks 配置
  .gitignore
  .pre-commit-config.yaml
Due: prettier-format

Update CLAUDE.md and tech-debt-report.json, remove Anytype.md
  CLAUDE.md
  docs/Others/Anytype.md
  tech-debt-report.json
Due: prettier-format

修復 SSR 認證錯誤 - Invalid Refresh Token 問題
  .eslintrc.layout-check.js
  CLAUDE.md
  app/(app)/admin/hooks/server/prefetch.server.ts
  app/(auth)/__tests__/layout.test.tsx
  app/(auth)/layout.tsx
  app/components/MinimalBackground.tsx
  docs/alerts/alert-system-implementation-report.md
  docs/api/analysis-widgets-api-design.md
  docs/general_rules.md
  docs/issue-library/authentication-ssr-token-expired-error.md
  docs/role_play/Doc-Specialist.md
  docs/troubleshooting/hydration-mismatch-fix.md
  docs/troubleshooting/ssr-auth-quick-diagnosis.md
  public/screenshot/Screenshot 1.png
Due: eslint-check, prettier-format

Update CLAUDE.md
  CLAUDE.md
Due: prettier-format

docs: Migration notice for /api/clear-cache endpoint removal
  app/(app)/admin/components/cards/types/ai-response.ts
  app/(app)/admin/components/cards/types/analytics.ts
  app/(app)/admin/components/cards/types/common.ts
  app/(app)/admin/components/cards/types/data-management.ts
  app/(app)/admin/components/cards/types/departments.ts
  app/(app)/admin/components/cards/types/hooks.ts
  app/(app)/admin/components/cards/types/index.ts
  app/(app)/admin/components/cards/types/inventory.ts
  app/(app)/admin/components/cards/types/production.ts
  app/(app)/admin/components/cards/types/ui-navigation.ts
  app/actions/DownloadCentre-Actions.ts
  docs/migrations/2025-08-10-clear-cache-endpoint-removal.md
Due: eslint-check, prettier-format

chore: Clean up obsolete configuration files
  .gitmessage
  .pre-commit-config.yaml
  .secrets.baseline
  .todo-scanner.config.js
  PRE_COMMIT_GUIDE.md
Due: eslint-check, prettier-format

chore: Major cleanup of obsolete files and configurations
  .mcp.json
  .prettierignore
  claude_desktop_config_macos.json
  codegen.yml
  deployment/README.md
  deployment/config/deployment.conf
  deployment/scripts/config/environments/production.env
  deployment/scripts/config/environments/staging.env
  deployment/scripts/utils/database.sh
  deployment/scripts/utils/notifications.sh
  next.config.simple.js
  pennine-stock@0.1.0
  playwright.a11y.config.ts
  playwright.config.ts
  playwright.performance.config.ts
  postcss.config.js
  push.sh
  start-nestjs.sh
  tailwind.config.js
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  vitest.shims.d.ts
Due: eslint-check, prettier-format

chore: Final cleanup of corrupted filename
  .claude/settings.local.json
  docs/planning/系統架構遷移總計劃.md
  github_files.txt
Due: prettier-format

chore: Handle renamed performance test file
  docs/planning/PerformanceTest.md
Due: prettier-format

chore: Remove test files and update .gitignore to exclude them
  .gitignore
  __tests__/bug-report.md
  __tests__/graphql-dataloader-fix.test.ts
  __tests__/mocks/factories.ts
  __tests__/mocks/graphql-handlers.ts
  __tests__/mocks/handlers.ts
  __tests__/stock-history-card.test.tsx
  __tests__/stock-history-graphql.test.ts
  __tests__/stock-transfer-complete.spec.ts
  __tests__/stock-transfer-final.spec.ts
  __tests__/stock-transfer-simple.spec.ts
  __tests__/stock-transfer-test-new-pallets.spec.ts
  __tests__/utils/cleanup.ts
  e2e/global-setup.ts
  e2e/grn-label-card.spec.ts
  e2e/performance-test-cards.spec.ts
  e2e/qc-label-card.spec.ts
  e2e/stock-transfer-complete.spec.ts
  e2e/stock-transfer-final-test.spec.ts
  e2e/stock-transfer-final.spec.ts
  e2e/stock-transfer-simple.spec.ts
  e2e/stock-transfer-test-new-pallets.spec.ts
  jest-dom.d.ts
  jest.config.js
  jest.setup.js
Due: eslint-check, prettier-format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier-format

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier-format

chore: Remove ALL test files from entire repository
  app/(app)/print-grnlabel/components/__tests__/WeightInputList.test.tsx
  app/api/analytics/charts/__tests__/auth-middleware.test.ts
  app/api/warehouse/summary/__tests__/route.test.ts
  app/components/__tests__/ErrorBoundary.test.tsx
  app/components/reports/generators/__tests__/ExcelGenerator.test.ts
  app/hooks/__tests__/useAuth.test.ts
  app/hooks/__tests__/useStockTransfer.test.tsx
  app/services/__tests__/assistantService.test.ts
  app/utils/__tests__/cardStyles.test.ts
  app/utils/__tests__/debounce.test.ts
  app/utils/__tests__/dialogStyles.test.ts
  app/utils/__tests__/palletSearchUtils.test.ts
  app/utils/__tests__/timezone.test.ts
  backend/newpennine-api/src/__tests__/app.controller.spec.ts
  components/ui/__tests__/button.test.tsx
  components/ui/__tests__/card.test.tsx
  components/ui/__tests__/input.test.tsx
  lib/error-handling/__tests__/ErrorHandling.test.tsx
  lib/feature-flags/__tests__/BaseProvider.test.ts
  lib/feature-flags/__tests__/hooks.test.tsx
  lib/feature-flags/__tests__/phase4-rollout.test.ts
  lib/hardware/services/__tests__/monitoring-service.test.ts
  lib/hardware/services/__tests__/printer-service.test.ts
  lib/hooks/__tests__/useOrderData.test.ts
  lib/hooks/__tests__/useOrderData.test.tsx
  lib/inventory/__tests__/services.test.ts
  lib/inventory/__tests__/stock-movement.test.ts
  lib/inventory/__tests__/test-helpers.ts
  lib/inventory/utils/__tests__/locationMapper.test.ts
  lib/performance/__tests__/PerformanceMonitor.test.ts
  lib/printing/services/__tests__/print-template-service.test.ts
  lib/utils/__tests__/exceljs-migration-helper.test.ts
  lib/utils/__tests__/getUserId.test.ts
  lib/utils/__tests__/getUserIdClient.test.ts
Due: eslint-check, prettier-format

fix: Restore tsconfig.json and lib/utils/index.ts to fix Vercel build errors
  lib/utils/index.ts
  tsconfig.json
Due: eslint-check, prettier-format

chore: Trigger Vercel rebuild with fixed configuration
  tsconfig.json
Due: prettier-format

fix: Clean up tsconfig.json formatting
  tsconfig.json
Due: prettier-format

Remove README-EN.md and risk-tracking-spreadsheet.csv
  README-EN.md
  risk-tracking-spreadsheet.csv
Due: prettier-format

Remove github_files.txt - cleanup unnecessary file
  github_files.txt
Due: none

fix: Remove unused pdf-converter.ts that requires puppeteer
  lib/pdf-converter.ts
  package-lock.json
  package.json
Due: eslint-check, prettier-format

fix: Force Vercel to clear cache and reinstall dependencies
  vercel.json
Due: prettier-format

fix: Move @types/qrcode to production dependencies
  package-lock.json
  package.json
Due: prettier-format

fix: Move @types/file-saver and @types/ioredis to production dependencies
  docs/deployment/vercel-puppeteer-deployment-guide.md
  package-lock.json
  package.json
Due: prettier-format

fix: Move glob to production dependencies
  package-lock.json
  package.json
Due: prettier-format

fix: Comprehensive dependency fix for Vercel deployment
  package-lock.json
  package.json
Due: prettier-format

fix: Move @types/fs-extra to production dependencies
  package-lock.json
  package.json
Due: prettier-format

fix: Convert home page to client component to resolve Vercel build error
  app/(app)/page.tsx
  docs/Others/MemoryManual.md
Due: eslint-check, prettier-format

fix: Remove duplicate page.tsx in (app) folder
  app/(app)/page.tsx
  docs/databaseScheme/INDEX.md
  docs/databaseScheme/README.md
  docs/databaseScheme/databaseStructure.md
  scripts/README-sql-injection-test.md
  scripts/analyze-widgets.sh
  scripts/git-push.ps1
  scripts/performance-test-stock-transfer.js
  scripts/push.ps1
  scripts/start-auto-push.ps1
  scripts/verify-grn-refactor.ps1
  scripts/verify-widget-cleanup.sh
Due: eslint-check, prettier-format
